<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <form class="form-horizontal" id="sell-order-form">
            <fieldset>

                <!-- Form Name -->
                <legend>Place Sell Order For {{model.companyName}}</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="sellPrice">Sell Price</label>
                    <div class="col-md-6">
                        {{view Ember.TextField valueBinding="sellPrice" id="sellPrice" name="sellPrice" type="number" placeholder="How much?" class="form-control input-md" required=""}}
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="sellVolume">Number of Shares</label>
                    <div class="col-md-6">
                        {{view Ember.TextField valueBinding="sellVolume" id="sellVolume" name="sellVolume" type="number" placeholder="How many?" class="form-control input-md" required=""}}
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submitBtn"></label>
                    <div class="col-md-8">
                        <button id="submitBtn" name="submitBtn" class="btn btn-success" {{action "submitSellOrder" model}}>Sumbit</button>
                        <button id="CancelBtn" name="CancelBtn" class="btn btn-danger" {{action "abortionSellOrder"}}>Cancel</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    {{partial "symbol"}}
</div>