<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-2" id="bid-order-form">
            <form class="form-horizontal">
                <fieldset>

                    <!-- Form Name -->
                    <legend>Place Bid Order For {{model.companyName}}</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="bidPrice">Purchase Price</label>
                        <div class="col-md-6">
                            {{view Ember.TextField valueBinding="bidPrice" id="bidPrice" name="bidPrice" type="number" placeholder="How much?" class="form-control input-md" required=""}}
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="bidVolume">Number of Shares</label>
                        <div class="col-md-6">
                            {{view Ember.TextField valueBinding="bidVolume" id="bidVolume" name="bidVolume" type="number" placeholder="How many?" class="form-control input-md" required=""}}
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submitBtn"></label>
                        <div class="col-md-8">
                            <button id="submitBtn" name="submitBtn" class="btn btn-success" {{action "submitOrder" model}}>Sumbit</button>
                            <button id="CancelBtn" name="CancelBtn" class="btn btn-danger" {{action "abortion"}}>Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        {{partial "symbol"}}
    </div>
</div>